<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name = "ROLLING_LOG_HOME" value = "e-book-persistence/src/main/resources/logback/logs" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <file>${ROLLING_LOG_HOME}/logs.log</file>
        <encoder>
            <pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="ROLLING_LOG_HOME" />
    </root>
</configuration>